html, body
{

  padding: 0px;
  margin: 0px;

}


#site
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}


.parts:first-child
{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;


}


#siteLogo
{

    width: 60px;
    height: 60px;
    border: 1px solid blue;

}

#siteMenu
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    height: 70px;
    margin-top: 10px;
    margin-left: 120px;


}

.menusContainer
{

   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid red;
    cursor: pointer;

}


#siteMenu div img
{

    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 100%;

}


#siteMenu div p
{

    text-align: center;
    font-size: 20px;

}


#location
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: 55px;
    z-index: 3;
    overflow: hidden;

}


#location .menuText
{


    color: red;
    text-align: center;
    margin-top: 95px;
    position: relative;
    top: 20px;

}

#location ul
{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#locations li
{

    list-style: none;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    position: relative;
    right: 20px;
    padding-top: 10px;
}

#lang
{

    width: auto;
    border: 0px;

}

.languages
{

    width: 50px;
    height: 50px;
    border: 1px solid green;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px

}

#searchIcon
{

    width: 40px;
    height: 40px;
    border: 1px solid green;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 10px


}


.parts:nth-child(2)
{

    width: auto;
    height: auto;
    margin-top: 50px;
    overflow-x: hidden;

}

#bannerUpdate
{

    width: 1000px;
    height: 400px;
    background-color: whitesmoke;
    position: relative;
    margin: auto;
    border: 1px solid #00BCD4;

    /*backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    transition: transform 1s linear 0s;*/


}

#bannerUpdate form
{

    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#forms
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}


#forms fieldset
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #009688;
    color: #009688;
    border-radius: 3px;

}


#inputContainer
{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

}

.inputs
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}

.inputs p
{

    color: #00BCD4;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
    left: 20px;

}


.inputs input
{

    width: 200px;
    height: 30px;
    border: 1px solid #00BCD4;
    border-radius: 3px;
    margin-bottom: 10px;
  /*  margin-left: 15px;
    margin-right: 15px;*/
    color: #00BCD4;
    font-size: 16px;
    text-align: center;

}


#bannerTerug
{

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: auto;
   height: auto;

}

.vieuw
{

  padding: 10px;
  border: 1px solid #00BCD4;
  border-radius: 3px;
  background-color: #00BCD4;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 20px;

}


.vieuw:hover
{

  background-color: white;
  color: #00BCD4;

}


#bannerUpdate form input[type='submit']
{

    padding: 10px;
    border: 1px solid #00BCD4;
    border-radius: 3px;
    background-color: #00BCD4;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;

}


#bannerUpdate form input[type='submit']:hover
{

    background-color: white;
    color: #00BCD4;

}


.inputs textarea
{

    height: 70px;
    width: 250px;
    /*margin-left: 10px;*/
    border: 1px solid #00BCD4;
    border-radius: 3px;
    color: #00BCD4;
    font-size: 19px;

}

#banner
{

    width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
     margin: auto;
    margin-top: -402px;
    background-color: whitesmoke;
    border: 1px solid #00BCD4;

   /* backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    transition: transform 1s linear 0s;*/

}

#bannerInfo
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 240px;
    background-color: #009688;
    padding-bottom: 30px;
    border-radius: 3px;


}

#titel
{

    text-align: center;
    color:#FF9800;
    position: relative;
    top: 20px;

}

#info
{

    text-align: center;
    font-size: 20px;
    width: 90%;
    height: 100px;
    color:white;
    padding-bottom: 20px;
    overflow: auto;

}

#more
{

    width: 200px;;
    height: 70px;
    padding: 10px;
    border: 1px solid #00BCD4;
    color: white;
    background-color: #00BCD4;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;

}

#more:hover
{

    background-color: white;
    color: #00BCD4;

}


#beweUpload
{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
  top: 50px;
    margin-top: -40px;

}


#beweUpload img:hover
{

  width: 40px;
  height: 40px;

}

.bewerken
{

    width: 50px;
    height: 50px;
    border: 1px solid #FF9800;
    border-radius: 100%;
    text-align: center;
    margin-left: 850px;
    cursor: pointer;
    background-color: #FF9800;

}


#uploadOnlineButt
{

  width: 50px;
  height: 50px;
  border: 1px solid #FF9800;
  border-radius: 100%;
  background-color: #FF9800;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;

}


#onlineUploadBanner
{

  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 401px;
  right: 1005px;
  border-left: 1px solid #00BCD4;
  margin-bottom: -400px;
  background-color: white;
  background-image: url(../public/images/uploaded_image/place_background/uploadBackground.gif);

}


#onlineUploadBanner form
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;

}



#onlineUploadBanner form input
{

   width: 200px;
   height: 30px;
   text-align: center;
   font-size: 20px;
   border: 1px solid #009688;
   border-radius: 3px;
   color: #009688;

}


#onlineUploadBanner form p
{

   text-align: left;
   font-size: 18px;
   width: 60%;
   height: auto;
   margin-top: 50px;
   margin-bottom: 50px;

}


#onlineUploadBanner form input[type="submit"]
{

   width: 150px;
   height: 40px;
   background-color: #009688;
   color: white;
   cursor: pointer;
   text-align: center;

}


#onlineUploadBanner form input[type="submit"]:hover
{

   background-color: white;
   color: #009688;

}


#onlineTerug
{

  width: 150px;
  padding: 10px;
  border: 1px solid #00BFF3;
  border-radius: 3px;
  background-color: #00BFF3;
  color: white;
  text-align: center;
  cursor: pointer;

}


#onlineTerug:hover
{

  background-color: white;
  color: #00BFF3;

}

.parts:nth-child(3)
{

    width: 100%;
    height: auto;
    margin-top: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}



#place
{

    width: 370px;
    height: 400px;
    border: 1px solid #009688;
    border-radius: 3px;
    margin-left: 30px;
    margin-right: 30px;
      margin-bottom: 120px;
      position: relative;
      top: 35px;

}

#place div
{

    width: 100%;
    height: 100%;

}


#placeUpdate
{

    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    transition: transform 1s linear 0s;


}

#placeUpdate form
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFF6F6;
    width: 100%;
    height: 100%;
    border-radius: 3px;

}


#placeUpdate form input
{

    width: 300px;
    height: 45px;
    border: 1px solid #EFF6F6;
    border-right: 3px solid #2ECC71;
    border-bottom: 3px solid #2ECC71;
    color: #00BCD4;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #043B59;


}


#placeUpdate form input[type="submit"]
{

    width: 150px;
    border: 1px solid #2ECC71;
    background-color: #2ECC71;
    color: white;
    cursor: pointer;
}

#placeUpdate form input[type="submit"]:hover
{

    background-color: white;
    border: 1px solid #2ECC71;
    color: #2ECC71;

}

#terug
{

    padding: 10px;
    width: 80px;
    height: 80px;
    color: white;
    background-color: #F91535;
    border: 1px solid #F91535;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: -80px;
    position: relative;
    bottom: 100px;

}

#terug:hover
{

    width: 65px;
    height: 65px;
    text-align: center;
    margin-bottom: -65px;

}

#placeUpdate p
{

    text-align: center;
    color: white;
    margin-top: -40px;
    position: relative;
    top: 100px;
    font-size: 18px;

}


#newPlace
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #009688;
    border-radius: 3px;
    background-color: #009688;
    margin-top: -402px;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    transition: transform 1s linear 0s;

}

#newPlace h2
{

    text-align: center;
    color: white;

}


#newPlace img
{

    width: 180px;
    height: 180px;

    border-radius: 100%;
    background-color: #00BCD4;
    margin-top: 10px;
    cursor: pointer;


}


#newPlace img:hover
{

    width: 150px;
    height: 150px;
    margin-top: 40px;

}


.places
{

  width: 370px;
  height: 400px;
  border-radius: 3px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

}


.placesContainer
{

  width: 100%;
  height: auto;

}

.deleteVieuw
{

  width: 370px;
  height: 400px;
  background-color: #009688;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #009688;
  border-radius: 3px;
  display: none;
  background-image: url(../images/uploaded_image/place_background/deleteBack.png);


}

.deleteVieuw form
{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;

}


.deleteVieuw form input
{

   width: 350px;
   height: 35px;
   color: white;
   border-bottom: 2px solid #F91535;
   background-color: #043B59;
   font-size: 18px;
   text-align: center;
   border: 1px solid #043B59;
   border-radius: 3px;

}


.deleteVieuw form input[type='number']
{

  margin-bottom: -35px;

}


.deleteVieuw form input[type='submit']
{

  width: 200px;
  height: 40px;
  background-color: #F91535;
  text-align: center;
  cursor: pointer;
  border: 1px solid #F91535;
  margin-top: 20px;
  border: 2px solid white;

}

.deleteVieuw form input[type='submit']:hover
{

  background-color: white;
  color: #F91535;
  border: 1px solid #F91535;

}


.deleteBack
{

  width: 80px;
  height: 80px;
  background-color: #F91535;
  border-radius: 3px;
  border: 1px solid #F91535;
  margin-bottom: 20px;

  cursor: pointer;

}

.deleteBack:hover
{

  background-color: white;
  color: #F91535;
  border: 1px solid #F91535;


}


.place_back
{

 width: 370px;
 height: 400px;
 display: flex;
 border-radius: 3px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #00C8E5;
 position: absolute;
 backface-visibility: hidden;
 transform: perspective(600px) rotateY(180deg);
 -webkit-transform: perspective(600px) rotateY(180deg);
 transition: transform 1s linear 0s;
 background-image: url(../images/uploaded_image/place_background/updateIcon.png);

}

.place_front
{

  width: 370px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    transition: transform 1s linear 0s;

}

.defaultBackground
{

  width: 100%;
  height: 100%;
  background-color: #F91535;
    border-radius: 3px;

}

.text
{

   width: 100%;
   height: auto;
  position: relative;
  bottom: 230px;

}


.backgroundColor
{

  width: 370px;
  height: 170px;
  border-bottom: 3px solid #009688;
  background-color: black;
  opacity: 0.7;
  position: absolute;

}

.place_front p
{

  text-align: center;
  font-size: 19px;
  color: white;
  width: 350px;
  height: 150px;
  padding: 10px;
  position: absolute;
  margin-top: 50px;

}

.placeName
{

  margin-top: -62px;
  color: white;
  text-align: center;
  position: relative;
  top: 70px;

}


.actions
{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.actions img
{

   width: 50px;
   height: 50px;
   border-radius: 100%;
   cursor: pointer;
   margin-bottom: -52px;
   position: relative;
   bottom: 50px;
   margin-left: 25px;
   margin-right: 25px;


}

.editPlace
{



}


.deletePlace
{



}


.uploadePlace
{


}

.actions img:hover
{

width: 40px;
height: 40px;
margin-left: 30px;
margin-right: 30px;

}

.place_back form
{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin-bottom: 20px;

}


.place_back form input
{

  width: 300px;
  height: 35px;
  border: 1px solid #043B59;
  border-bottom: 2px solid #2ECC71;
  border-radius: 3px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  font-size: 18px;
  background-color: #043B59;

}

.name
{

   position: relative;
   bottom: 10px;

}

#place-id
{

  border-bottom: 0px solid yellow;
  margin-bottom: -20px;

}

.place_back form textarea
{

  width: 280px;
  height: 80px;
  border: 1px solid #043B59;
  border-bottom: 2px solid #2ECC71;
  border-radius: 3px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  background-color: #043B59;

}


.place_back form input[type="submit"]
{

   width: 150px;
   border: 1px solid #2ECC71;
   background-color: #2ECC71;
   cursor: pointer;
   color: white;

}


.place_back form input[type="submit"]:hover
{

  border: 1px solid #2ECC71;
  background-color: white;
  color: #2ECC71;

}

.styles
{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

}


.styles button
{

  width: 50px;
  height: 50px;
  border: 1px solid #F91535;
  border-radius: 100%;
  background-color: #F91535;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  bottom: 20px;

}


.placeUploadVieuw
{

  width: 370px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #009688;
  border-radius: 3px;
  display: none;

}


.placeUploadVieuw form
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}


.placeUploadVieuw form input
{

   width: 250px;
   height: 35px;
   border: 1px solid #043B59;
   background-color: #043B59;
   text-align: center;
   font-size: 18px;
   color: white;
   border-radius: 3px;

}


.placeUploadVieuw form input[type='submit']
{

   width: 150px;
   padding: 5px;
   border: 1px solid #2ECC71;
   background-color: #2ECC71;
   cursor: pointer;
   margin-top: 15px;
   margin-bottom: 15px;
   position:relative;
   top: 30px;

}


.placeUploadVieuw form p
{

   width: 80%;
   height: auto;
   text-align: center;
   font-size: 18px;
   color: white;
   margin-top: 15px;
   margin-bottom: 15px;

}


.placeUploadVieuw form input[type='submit']:hover
{

   background-color: white;
   color: #2ECC71;

}


.placeterug
{

  width: 150px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #00C8E5;
  background-color: #00C8E5;
  cursor: pointer;
  position:relative;
  top: 30px;

}


.placeterug:hover
{

  background-color: white;
  color: #00C8E5;

}


.parts:nth-child(4)
{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;

}


.cultuurArt
{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.styleCultArt
{

  width: 1347px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
border: 1px solid #009688;


}


.backCultArt
{

  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}


#styling
{

  width: 40%;
  height: 100%;
  background-color: #009688;

}


.backCultArt p
{

  text-align: center;

}



.backCultArt form
{

   width: 60%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}


.backCultArt form input, select, textarea
{

    width: 350px;
    height: 35px;
    border: 1px solid #043B59;
    border-radius: 3px;
    border-bottom: 2px solid #2ecc71;
    background-color: #043B59;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;

}



.backCultArt form textarea
{

  width: 350px;
  height: 100px;


}


.backCultArt form input[type='submit']
{

  width: 200px;
  height: 40px;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  cursor: pointer;

}


.backCultArt form input[type='submit']:hover
{

  color: #2ecc71;
  background-color: white;
  border: 1px solid #2ecc71;

}


.backCultArt button
{

  width: 100%;
  height: 40px;
  border: 1px solid #009688;
  background-color: #009688;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: relative;


}


.backCultArt button:hover
{

  background-color: white;
  color: #009688;

}


.frontCultArt
{

  width: 1347;
  height: 413px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #00BCD4;
  background-color: #00BCD4;
  background-position: center;
  background-repeat: no-repeat;
  /*padding-bottom: 38px;
  padding-top: 38px;*/
  position: relative;
  bottom: 477px;
  margin-bottom: -477px;
    /*background-image: url(../images/uploaded_image/kunst.jpg);*/

}




.frontCultArt h1
{

  text-align: center;
  color: green;

}

.frontCultArt p
{

  text-align: right;
  color: white;
  font-size: 17px;
  width:80%;
  height: 250px;
  margin: auto;

}


#cultArtUpdate
{

   width: 100%;
   height: 40px;
   border: 1px solid #009688;
   background-color: #009688;
   color: white;
   font-size: 20px;
   cursor: pointer;
   position: relative;

}


#cultArtUpdate:hover
{

   background-color: white;
   color: #009688;

}



.parts:nth-child(5)
{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: -40px;

}


#backfaceSign
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;

}

#formStyle
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    border: 1px solid #00BFF3;


}


#formStyle p
{

    text-align: center;
    font-size: 18px;
    margin-top: 20px;

}


#formStyle form
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;

}



#formStyle form input, textarea
{

    width: 300px;
    height: 35px;
    border: 1px solid #00BFF3;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #00BFF3;

}


#formStyle form input[type='text']
{

    margin-left: 250px;

}


#formStyle form textarea
{

    height: 100px;
    padding-top: 15px;
    color: white;
    margin-left: 250px;

}



#formStyle form input[type='submit']
{

    width: 180px;
    background-color: #00BFF3;
    color: white;
    cursor: pointer;

}


#formStyle form input[type='submit']:hover
{

    background-color: white;
    color: #00BFF3;

}


#signStyle
{

    width: 40%;
    height: 100%;
    background-color:#00BFF3;

}


#frontfaceSign
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: -360px;
    position: relative;

}


#organisation
{

    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 10px;

}

#organisation h1
{

    text-align: center;


}



#organisation p
{

    width: 80%;
    height: 300px;
    text-align: left;
    font-size: 18px;

}


#signup
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;

}


#signup h1
{

    text-align: center;

}



#signup form
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

#allInputs
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}


.inputs
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;


}

.inputs:nth-child(2) input[type='text']{

    margin-top: 20px;

}

.inputs:nth-child(2) select
{

    position: relative;
    bottom: 10px;

}


#places
{

    position: relative;
    bottom: 20px;

}


#signup form input, select
{

    width: 280px;
    height: 35px;
    border: 1px solid #00BFF3;
    border-radius: 3px;
    color: #00BFF3;
    text-align: center;
    font-size: 18px;

}



#signup form input[type='submit']
{

    background-color: #00BFF3;
    color: white;
    cursor: pointer;
    width: 200px;

}



#signup form input[type='submit']:hover
{

    background-color: white;
    color: #00BFF3;

}


.udateStyle
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}

.return
{

    width: 180px;
    height: 33px;
    border: 1px solid #00BFF3;
    border-radius: 3px;
    background-color: #00BFF3;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    text-align: center;

}


.return:hover
{

    background-color: white;
    color: #00BFF3;

}


.update_organisation
{

    width: 180px;
    height: 35px;
    border: 1px solid #00BFF3;
    border-radius: 3px;
    background-color: #00BFF3;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    text-align: center;

}



.update_organisation:hover
{

    background-color: white;
    color: #00BFF3;

}


.uploadConfirm
{

   text-align: center;
   padding: 10px;
   width: 300px;
   height: 20px;
   margin: auto;
   position: relative;
   color: white;

}
